.tren_horarios {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    border: 2px solid #76bc43e5;
    border-radius: 15px;
    overflow: hidden;

    div {
        border: 1px solid #76bc43e5;
    }
}
