.tarifa {
    h2 {
        background-color: #4a9c2d;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }

    &.tarifaMetropolitano {
        h2 {
            background-color: #004d87;
        }
    }

    &.tarifaazul{
        h2{
            background-color: #014A99;
        }
    }

    &.tarifamorado{
        h2{
            background-color: #783DBE;
        }
    }

    .tarifa_info {
        background: #ffffff;
        box-shadow: 1px 1px 10px #4a9c2d;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 15px;

        p {
            margin: 0;
        }

        .pasaje {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
        }

        div {
            display: grid;
            grid-template-columns: 75% 25%;
            align-items: center;

            p:nth-child(2) {
                font-size: 15px;
                font-weight: bold;
                font-size: 16px;
                text-align: right;
            }
        }
    }
}
