<ion-header>
  <ion-toolbar>
    <ion-title>tarifas</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="salirRecarga()">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contianer">
    <div class="tarifaLinea1">
      <h2>Tarias <b>Linea 1</b></h2>
      <div class="tl_adulto">
        <p>Pasaje Adulto</p>

        <p>Dirigido a: Pasajeros en general</p>

        <p>S/1.50</p>
      </div>
      <div class="tl_medio">
        <p>Pasaje Medio</p>

        <p>Dirigido a: Escolares, universitarios y alumnos de institutos superiores</p>

        <p>S/0.75</p>
      </div>
    </div>

    <div class="tarifaMetropolitano">
      <h2>Tarias <b>Metropolitano</b></h2>

      <div class="tm_general">
        <p>Tarifa General</p>

        <p>Representa el costo por el uso exclusivo de una vía</p>

        <p>S/2.50</p>
      </div>
      <div class="tm_preferencial">
        <p>Tarifa Preferencial</p>

        <p>Representa el cobro diferenciado por un servicio, y está determinado según el perfil del usuario</p>

        <p>S/1.00 | S/1.25</p>
      </div>
      <div class="tm_integrada">
        <p>Tarifa Integrada</p>

        <p>Representa el cobro de un servicio mixto, que integra dos o más modalidades de trasportarse de un punto a
          otro, sin salir del sistema</p>

        <p>S/2.50</p>
      </div>
    </div>
  </div>
</ion-content>