.loginContent{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(50%);

    .loginFormContent{
        div{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            input{
                margin-top: 5px;
                border-radius: 2px;
                padding: 5px;
            }
        }

        button{
            width: 100%;
            border-radius: 2px;
            background: #004C97;
            color: white;
            padding: 15px;
        }
    }
}