<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutas">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Rutas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tarjetas">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Tarjetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contactos">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>