<ion-header>
  <ion-toolbar>
    <ion-title>RutaSIT - Mis Tarjetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" [fullscreen]="true" class="tarjetasContent">
    <div class="container">
      <!-- mis tarjetas -->
      <div class="home_cards">
        <section>
          <p>Mis tarjetas</p>

          <ion-slides class="ion-slides-content" [option]="option">

            <ion-slide *ngFor="let tarjeta of tarjetasMonto">
              <div>
                <ion-card class="{{tarjeta.clase}}">
                  <h1 hidden>{{tarjeta.id}}</h1>
                  <h3>{{tarjeta.tipo}}</h3>
                  <div class="saldo">
                    <p class="disponible">S/. {{tarjeta.saldo}}</p>
                    <p class="saldotexto">Saldo disponible</p>
                  </div>
                  <div class="propietario">
                    <span>{{tarjeta.propietario}}</span>
                  </div>
                </ion-card>

                <ion-button (click)="recargar(tarjeta)" expand="block" class="{{tarjeta.tipo}}">
                  Recargar
                </ion-button>
              </div>

              <div class="historialTarjeta">
                <h4>Últimos movimientos</h4>
                <ion-list *ngFor="let movimiento of tarjeta.movimientos">
                  <ion-item>
                    <div class="movContent">
                      <div class="movInfo">
                        <p class="tipoMov">{{movimiento.tipo}}</p>
                        <p class="fechaMov">{{movimiento.fecha}} - {{movimiento.hora}}</p>
                      </div>
                      <div class="movEfectivo {{movimiento.clase}}">
                        <p>S/ {{movimiento.monto}}</p>
                      </div>
                    </div>
                  </ion-item>
                </ion-list>
              </div>
            </ion-slide>

          </ion-slides>
        </section>
      </div>

      <!-- tarifario -->

      <div class="tarjeta_tarifario">
        <p>Tarifario</p>
        <ion-list>
          <ion-item>
            <div class="tarifarioContent">
              <div class="auto">
                <img src="../../assets/images/car1.png" alt="">
              </div>
              <div class="autoNombre">
                <p>Metropolitano</p>
              </div>
              <div class="autoPrecio">
                <p>S/1. 50</p>
              </div>
            </div>
          </ion-item>

          <ion-item>
            <div class="tarifarioContent">
              <div class="auto">
                <img src="../../assets/images/car1.png" alt="">
              </div>
              <div class="autoNombre">
                <p>Metro</p>
              </div>
              <div class="autoPrecio">
                <p>S/1. 50</p>
              </div>
            </div>
          </ion-item>

          <ion-item>
            <div class="tarifarioContent">
              <div class="auto">
                <img src="../../assets/images/car1.png" alt="">
              </div>
              <div class="autoNombre">
                <p>Corredores</p>
              </div>
              <div class="autoPrecio">
                <p>S/1.50</p>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>