<ion-header>
  <ion-toolbar>
    <ion-title>Horario de Linea1</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="salirRecarga()">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="list__estaciones">
    <ion-item class="list__estacion" *ngFor="let estacion of estaciones | filtro: textoBuscar: 'nombre'">
      <ion-button id="open-modal" expand="full">
        {{estacion.nombre}}
      </ion-button>
    </ion-item>  
  </ion-list>

  <!-- <div class="container">
    <ion-button id="open-modal" expand="block">
      Estación Bayóvar
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Santa Rosa
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación San Martin
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación San Carlos
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Los Postes
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Los Jardines
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Piràmide del Sol
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Caja de Agua
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Presbítero Maestro
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación El Ángel
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Grau
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Gamarra
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación Arriola
    </ion-button>

    <ion-button id="open-modal" expand="block">
      Estación La Cultura
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación San Borja Sur
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Angamos
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Cabitos
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Ayacucho
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Jorge Chávez
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Atocongo
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación San Juan
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación María Auxiliadora
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Villa María
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Pumacahua
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Parque Industrial
    </ion-button>
    <ion-button id="open-modal" expand="block">
      Estación Villa El Salvador
    </ion-button>
  </div> -->

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title>Estación Bayóvar</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <h3>Destino <b>Bayóvar</b></h3>

        <div class="tren_horarios">
          <div *ngFor="let hora of horariosLinea1">
            <p>{{hora.hora}}</p>
          </div>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>