.list__estacion {
    margin-bottom: 10px;

    ion-button {
        width: 100%;
        height: 100%;

        span.ion_text_left {
            margin-right: auto;
            font-weight: bold;
            font-size: 14px;
        }
    }
}
