.homeContent {
  .container {
    padding: 20px;

    .home_atajos {
      .grid_atajos {
        text-align: center;

        ion-button {
          width: 70px;
          height: 70px;

          &.btn_hora_linea1 {
            --background: #46942b;

            ion-icon {
              color: #f2f2f2;
            }
          }
          &.btn_tarifa {
            --background: #fee5cd;
            ion-icon {
              color: #307fe2;
            }
          }
          &.btn_hora_metropol {
            --background: #d4f7f4;
            ion-icon {
              color: #753bbd;
            }
          }
          ion-icon {
            font-size: 40px;
          }
        }

        ion-text {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          line-height: 1;

          &.txt_hora_linea {
          }
          &.txt_tarifa {
          }
          &.txt_hora_metropol {
          }
        }
      }
    }

    .home_cards {
      position: relative;

      .ion-slides-content {
        ion-card {
          background-color: #fff;
          width: 230px;
          padding: 15px;
          text-align: center;
          color: #004C97;
          border: 2px solid #000;

          h3 {
            font-size: 25px;
            margin: inherit;
          }

          .saldo {
            .disponible {
              font-size: 25px;
              margin-top: 10px;
              margin-bottom: inherit;
            }
            .saldotexto {
              margin: inherit;
              font-size: 14px;
            }
          }

          .propietario {
            margin-top: 15px;
          }
        }
      }
    }

    .home_notifications {
      ion-item {
        .item-notification {
          background: #f7f7f7;
          border-radius: 10px;
          padding: 20px;
          display: grid;
          grid-template-columns: 18% 82%;
          justify-content: center;
          align-items: center;
          .notificationText {
            p {
              margin-bottom: inherit;
            }
          }
          .notificationTime {
            span {
              font-size: 14px;
              color: #c2c3c0;
            }
          }
        }
      }
    }

    //GENERAL CHANGES
    .home_title {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
