.homeContent {
  .container {
    padding: 20px;

    .home_search {
      ion-searchbar {
        padding-left: inherit;
        padding-right: inherit;
        padding-top: inherit;
        padding-bottom: 30px;

        .searchbar-input {
          border-radius: 10px !important;
          border: 1px solid #000000;
        }
      }
    }

    .home_atajos {
      .grid_atajos {
        text-align: center;
      }
    }

    .home_cards {
      position: relative;

      .ion-slides-content {
        ion-card {
          background-color: #004c97e5;
          width: 230px;
          padding: 15px;
          text-align: left;
          color: #ffffff;

          h3 {
            font-size: 15px;
            margin: inherit;
          }

          .saldo {
            .disponible {
              font-size: 25px;
              margin-top: 10px;
              margin-bottom: inherit;
            }
            .saldotexto {
              margin: inherit;
              font-size: 14px;
            }
          }

          .propietario {
            margin-top: 15px;
          }
        }
      }
    }

    .home_notifications {
      ion-item {
        .item-notification {
          background: #f7f7f7;
          border-radius: 10px;
          padding: 20px;
          display: grid;
          grid-template-columns: 18% 82%;
          justify-content: center;
          align-items: center;
          .notificationText {
            p{
              margin-bottom: inherit;
            }
          }
          .notificationTime {
            span {
              font-size: 14px;
              color: #c2c3c0;
            }
          }
        }
      }
    }
  }
}