<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="homeContent">
  <div class="container">
    <!-- menu de buscar -->
    <!-- <div class="home_search">
      <ion-searchbar animated placeholder="Hola, ¿Qué hacemos hoy?" (ionChange)="buscar($event)" [debounce]="250">
      </ion-searchbar>
    </div> -->

    <!-- atajos -->
    <div class="home_atajos">
      <section>
        <p class="home_title">Atajos</p>
        <ion-grid fixed class="grid_atajos">
          <ion-row>
            <!-- <ion-col size="3">
              <ion-button>
                <ion-icon name="bus-outline"></ion-icon>
              </ion-button>
              <ion-text>
                <p>Horarios Corredor</p>
              </ion-text>
            </ion-col> -->
            <ion-col size="4">
              <ion-button class="btn_hora_linea1" (click)="horarioLine1()">
                <ion-icon name="train-outline"></ion-icon>
              </ion-button>
              <ion-text class="txt_hora_linea">
                <p>Horarios Linea 1</p>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-button class="btn_tarifa" (click)="tarifario()">
                <ion-icon name="car-sport-outline"></ion-icon>
              </ion-button>
              <ion-text class="txt_tarifa">
                <p>Tarifas</p>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-button class="btn_hora_metropol">
                <ion-icon name="time-outline"></ion-icon>
              </ion-button>
              <ion-text class="txt_hora_metropol">
                <p>Horarios Metrop.</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>
    </div>

    <!-- mis tarjetas -->
    <div class="home_cards">
      <section>
        <p class="home_title">Mis tarjetas</p>

        <ion-slides class="ion-slides-content" [option]="option">
          <ion-slide>
            <ion-card>
              <h3>GENERAL</h3>
              <div class="saldo">
                <!-- <p class="disponible">S/17.09</p>
                <p class="saldotexto">Saldo disponible</p> -->
              </div>
              <div class="propietario">
                <span>David Robles</span>
              </div>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <h3>ALTERNATIVO</h3>
              <div class="saldo">
                <!-- <p class="disponible">S/17.09</p>
                <p>Saldo disponible</p> -->
              </div>
              <div class="propietario">
                <span>David Robles</span>
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </section>
    </div>

    <!-- notificaciones -->
    <div class="home_notifications">
      <section>
        <p class="home_title">Notificaciones</p>

        <ion-list>
          <ion-item>
            <div class="item-notification">
              <div class="notificationAlertType">
                <img src="../../assets/images/alert1.png" alt="">
              </div>
              <div class="notificationInfo">
                <div class="notificationText">
                  <p>Se presentan retrasos en las estaciones Tomas Valle y Javier Prado con sentido de sur a norte. </p>
                </div>
                <div class="notificationTime">
                  <span>Hace 14 min</span>
                </div>
              </div>
            </div>
          </ion-item>

          <ion-item>
            <div class="item-notification">
              <div class="notificationAlertType">
                <img src="../../assets/images/alert2.png" alt="">
              </div>
              <div class="notificationInfo">
                <div class="notificationText">
                  <p>Afilia tu tarjeta al debito automatico y olvidate de las recargas. Afiliate con tus tarjetas de
                    crédito o débito.</p>
                </div>
                <div class="notificationTime">
                  <span>Hace 44 min</span>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </section>
    </div>
  </div>
</ion-content>